<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Test/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>Api</directory>
            <directory>Block</directory>
            <directory>Console</directory>
            <directory>Controller</directory>
            <directory>Cron</directory>
            <directory>Model</directory>
            <directory>Service</directory>
            <directory>Ui</directory>
        </include>
        <exclude>
            <directory>Test</directory>
            <directory>vendor</directory>
        </exclude>
    </source>
</phpunit>
