<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Angeo_AeoAudit::audit_results"
                              title="Angeo AEO — Audit Results"
                              sortOrder="75">
                        <resource id="Angeo_AeoAudit::run_audit"
                                  title="Angeo AEO — Run Audit"
                                  sortOrder="10"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Angeo_AeoAudit::config"
                                      title="Angeo AEO — Configuration (CrUX API Key)"
                                      sortOrder="75"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
